

<!DOCTYPE html>

     
        <div class="container" >
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="well well-sm">
                        <form name="form" class="form-horizontal" role="form" ng-init="loadID()" ng-submit="submitForm(form.$valid)" novalidate>
                                
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col col-xs-6">
                                            <h3 class="panel-title">Cadastro de Usuários</h3>
                                        </div>
                                       
                                    </div>
                                </div>

                                <!-- Nome input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="NomeUsuarios">Nome</label>
                                    <div class="col-md-9">
                                        <input id="NomeUsuarios" name="NomeUsuarios" ng-model="dado.nome" type="text" placeholder="Digite seu Nome" class="form-control"  required>
                                        <div ng-show="form.NomeUsuarios.$dirty  && form.NomeUsuarios.$invalid" class="alert alert-danger">
                                            <span ng-show="form.NomeUsuarios.$error.required">Campo obrigatório</span>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- Telefone input-->
                                  <!--   
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="TelefoneUsuarios">Telefone</label>
                                    <div class="col-md-9">
                                        <input id="TelefoneUsuarios" ng-model="dado.TelefoneUsuarios" name="TelefoneUsuarios" type="text"  class="form-control" ui-mask="{{'(99) 9999-9999'}}" >
                                    </div>
                                </div> -->
                                  
                                <!-- Cargo input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="CargoUsuarios">Cargo</label>
                                    <div class="col-md-9">
                                        <input id="CargoUsuarios" name="CargoUsuarios" ng-model="dado.cargo" type="text" placeholder="Digite seu Cargo" class="form-control">
                                    </div>
                                </div>
                                
                                <!-- Funcao input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="FuncaoUsuarios">Função</label>
                                    <div class="col-md-9">
                                        <input id="FuncaoUsuarios" name="FuncaoUsuarios" ng-model="dado.funcao" type="text"  class="form-control">                                       
                                    </div>
                                </div>
                                
                                <!-- Matricula SIAPE ou CPF-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="MatriculaUsuarios">SIAPE ou CPF</label>
                                    <div class="col-md-9">
                                        <input id="MatriculaUsuarios" name="MatriculaUsuarios" ng-model="dado.matricula" type="text"  class="form-control">                                       
                                    </div>
                                </div> 
                                 
                                <!-- Email input-->
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="UsuariosEmail">Email</label>
                                    <div class="col-md-9">
                                        <input id="UsuariosEmail" ng-model="dado.email" name="UsuariosEmail" type="email" placeholder="Seu email" class="form-control" required>
                                        <div ng-show="form.UsuariosEmail.$dirty && form.UsuariosEmail.$invalid" class="alert alert-danger">
                                            <span ng-show="form.UsuariosEmail.$error.required">Campo obrigatório</span>
                                            <span ng-show="form.UsuariosEmail.$error.email">Email inválido</span>
                                        </div>
                                    </div>
                                </div> 

                                 <!-- Password input-->
                                 <!--
                                 <div class="form-group">
                                    <label class="col-md-3 control-label" for="UsuariosPassword">Password</label>
                                    <div class="col-md-9">
                                        <input id="UsuariosPassword" ng-model="dado.UsuariosPassword" name="UsuariosPassword" type="password" placeholder="Sua Senha" class="form-control" required>
                                        <div ng-show="form.UsuariosPassword.$dirty && form.UsuariosPassword.$invalid" class="alert alert-danger">
                                            <span ng-show="form.UsuariosPassword.$error.required">Campo obrigatório</span>
                                        </div>
                                    </div>
                                </div> -->


                                <!-- Form actions -->
                                <div class="form-group"> 
                                    <div class="col-md-3">
                                        <a href="#/usuarios" class="btn btn-info pull-left">Voltar</a>
                                    </div>
                                    <div class="col-md-9">
                                          <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid">Salvar</button>
                                    </div>
                                </div>


                        </form>

                    </div>
                </div>
            </div>    
        </div>
