
<!DOCTYPE html>


<div class="container" ng-init="load()">
    <div class="row">    
        <div class="col-md-14 col-md-offset-0">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Painel de Controle</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a href="#/usuariosForms" class="btn btn-primary btn-lg pull-right">Novo</a> 
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>

                                <th class="hidden-xs">ID</th>
                                <th>Nome</th>
                                <th class="hidden-xs">Email</th>
                                <th>Matricula</th>
                                <th class="hidden-xs">Cargo</th>
                                <th class="hidden-xs">Função</th>
                                <th colspan="2"><em class="fa fa-cog"></em></th>
                            </tr> 
                        </thead>
                        <tbody>

                            <tr ng-repeat="dado in dados" >                                       
                                <td class="hidden-xs" >{{dado.idUsuarios}}</td>
                                <td >{{dado.nome}}</td>
                                <td class="hidden-xs" >{{dado.email}}</td>
                                <td >{{dado.matricula}}</td>
                                <td class="hidden-xs" >{{dado.cargo}}</td>
                                <td class="hidden-xs" >{{dado.funcao}}</td>
                                <td align="center">
                                    <a class="btn btn-default"  ng-click="atualizar(dado.idUsuarios)"><em class="fa fa-pencil"></em></a>
                                </td>
                                <td>
                                   <a class="btn btn-danger"   ng-click="deletar(dado.nome , dado.idUsuarios)"><em class="fa fa-trash"></em></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <!--
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">Page 1 of 5
                        </div>
                        <div class="col col-xs-8">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>

        </div>
    </div>    
</div>
