<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://xmlns.jcp.org/jsf/core"    
            xmlns:h="http://xmlns.jcp.org/jsf/html"
            xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
            xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
            xmlns:jsf="http://xmlns.jcp.org/jsf"
            xmlns:p="http://primefaces.org/ui">
   
    
   <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <ui:include src="header.xhtml" /> 
            <ui:insert name="content" />
        
            <div class="demo-drawer mdl-layout__drawer mdl-color--primary-dark mdl-color-text--primary-contrast">
                   <ui:include src="leftMenu.xhtml" />
            </div>
                              
               

                
              
           
    </div>
        
        
    </ui:composition>
 