<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:f="http://xmlns.jcp.org/jsf/core"    
            xmlns:h="http://xmlns.jcp.org/jsf/html"
            xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
            xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
            xmlns:jsf="http://xmlns.jcp.org/jsf"
            xmlns:p="http://primefaces.org/ui" >
 
    <h:head>
        <f:facet name="first">
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="description" content="Applicação para controle de gastos de impressão"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>	
            <title>SNMP WEB SYSTEM</title>
            
            <!-- Favicon -->
            <link rel="shortcut icon" href="#{resource['/images/favicon.png']}"></link>
            
            <!-- Add to homescreen for Chrome on Android -->
            <meta name="mobile-web-app-capable" content="yes"/>
            <link rel="icon" sizes="192x192" href="#{resource['/images/android-desktop.png']}"/>

            <!-- Add to homescreen for Safari on iOS -->
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
            <meta name="apple-mobile-web-app-title" content="Material Design Lite"/>
            <link rel="apple-touch-icon-precomposed" href="#{resource['/images/ios-desktop.png']}"/>

        
        </f:facet>
        
        
        
        <f:facet name="middle">
           
            <!--Bootstrap -->
            
            <h:outputStylesheet  library="bootstrap" name="css/bootstrap.css" />
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" />
            
            <h:outputScript library="js" name="bootstrap.js" />
            
            
            
           
            <!--Material Design Lite -->
           
            
            <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-green.min.css" />
            <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
            
            <h:outputStylesheet library="css" name="styles.css" />
            <h:outputStylesheet library="css" name="dashboard.css" />
            <style>
            #view-source {
              position: fixed;
              display: block;
              right: 0;
              bottom: 0;
              margin-right: 40px;
              margin-bottom: 40px;
              z-index: 900;
            }
            </style>
            
            
            </f:facet>
        
        <f:facet name="last">
             <!-- Material Design fonts -->
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
            <!--    
            <h:outputStylesheet  library="webjars" name="font-awesome/4.5.0/css/font-awesome.css"  /> -->
        </f:facet>
    </h:head>
  
    <h:body>      
        
        <ui:include src="content.xhtml" />
        <ui:remove>
            <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Source</a> 
        </ui:remove>
    </h:body>
</html>